@font-face {
    font-family: 'existenceLight';
    src: url(../font/Existence-Light.otf);
}
@font-face {
    font-family: 'existenceStencilLight';
    src: url(../font/Existence-StencilLight.otf);
}
@font-face {
    font-family: 'existenceUnicaseLight';
    src: url(../font/Existence-UnicaseLight.otf);
}

html {
  font-family: "existenceLight", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'existenceStencilLight', serif;
  color: #aaa;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-family: 'existenceStencilLight', serif;
  color: #50585D;
  font-kerning: auto;
  font-feature-settings: "kern","liga","dlig","hlig","cswh";
  font-synthesis: weight style;
}

.btn {
  display: inline-block;
  padding: .25rem 1rem;
  font-family: "existenceLight", sans-serif;
  color: #ebcb8b;
  border: .1rem solid #32343c;
  border-radius: .1rem;
}

/* About section */
.sidebar-about h1 {
  color: #caad00;
  margin-top: 0;
  font-family: 'existenceUnicaseLight', serif;
  font-size: 2.25rem;

}

.top-bar {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url('../images/yellow-back-strip.png');
}

.bottom-bar {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: url('../images/yellow-back-strip.png');
}
